@use "colors" as c;

*,
*::after,
*::before {
  box-sizing: border-box;
  @media (max-width: 576px) {
    *:focus {
      outline: none;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
input {
  all: unset;
  display: block;
  min-width: 0;
}
a {
  display: block;
  text-decoration: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
body {
  background-color: c.$clr-primary-white;
  font-family: "Roboto", sans-serif;
}

/*==================================*/
//Scroll Bar

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: c.$clr-primary-dark;
  border-radius: 1rem;
  &:hover {
    background-color: c.$clr-primary-dark2;
  }
}

::-webkit-scrollbar-track {
  background-color: rgba(c.$clr-secondry, 0.5);
  margin-block: 5px;
}

/*==================================*/

/*==================================*/
/* contianer styles : */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* Medium */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* Large */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* X-Large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* XX-Large */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/*====================================*/
